label {
	font-weight: bold; 
	@include font-size( 12 );
}

fieldset {
	border: 1px solid $gray_light;
	@include font-size( 12 );
	line-height: 1.5;
	margin: 0 0 1.5em;
	padding: 0 1.5em 1.5em 1.5em;
}

legend {
	background: $white_dark;
	border: 1px solid $gray_light;
	@include border-radius;
	font-weight: bold;
	display: block;
	left: 0;
	margin: 0;
	padding: .5em .8em;
	position: relative;
	@include text-shadow( 1px 1px 0 rgba( $white, .7 ) );
	top: 0;
}

fieldset {
	padding-top: 1.5em; 
}

legend {
	margin-top: 0;
	margin-bottom: 0; 
}

textarea {
	min-height: 100px;
	overflow: auto;
	resize: vertical;
	width: 100%; 
}

textarea,
select,
input[type="email"],
input[type="password"],
input[type="search"],
input[type="text"],
input[type="url"],
input[class*="text"] {
	@include box-sizing(border-box);
	@include background-clip(padding-box);
	-webkit-appearance: none;
	@include box-shadow( none );
	color: #999;
	// @include border-radius( 3px );
	// border: 1px solid $border_color;
	// height: 2.5em;
	// padding: 3px 4px;

	&:focus {
		outline: 0;
	}

}

input[type="search"]::-webkit-search-decoration {
	display: none; 
}

input[type="file"],
input[type="radio"],
input[type="checkbox"],
select,
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
	&:focus {
		@include tab-focus();
		@include box-shadow(none); // override for file inputs
	}
}

input[type="file"],
input[type="radio"],
input[type="checkbox"] {
	&:focus,
	&:active {
		@include box-shadow(none); 
	} 
}

button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
	-webkit-appearance: none;
	cursor: pointer;
	outline: 0;
	overflow: visible;
	margin: 0;
	*padding-top: 2px;
	*padding-bottom: 0;
	@include transition(none);
	vertical-align: top;
	width: auto;
		
	&::-moz-focus-inner {
		border: 0;
		padding: 0; 
	} 
}

button {
	// IE7
	*padding-top: 1px;
	*padding-bottom: 1px; 
}

textarea,
select[size],
select[multiple] {
	height: auto; 
}

// Set height back to normal,
// for Opera, WebKit, and IE.
select[size="0"],
select[size="1"] {
	height: 1.8em;
	// IE7
	*height: auto; 
}