div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, form, p,
blockquote, th, td {
	direction: ltr;
	margin: 0;
	padding: 0;
}

/**
 * Set link colors.
 */
a {
	color: $link;
	text-decoration: none;
	&:visited {
		color: $link_visited;
	}
	&:hover {
		color: $link_hover;
		text-decoration: none;
	}
}

/**
 * Headings.
 */
#{headings(all)} {
	@include ff-heading;
}

h1, .alpha {
	@include font-size( 36 );
}

h2, .beta {
	@include font-size( 30 );
}

h3, .gamma {
	@include font-size( 24 );
}

h4, .delta {
	@include font-size( 20 );
}

h5, .epsilon {
	@include font-size( 16 );
}

h6, .zeta {
	@include font-size( 14 );
}

/**
 * Text elements.
 */
p {
	margin: 0 0 1.5em;
}

sup { 
	vertical-align: sub;
}

sub {
	vertical-align: super;
}

abbr[title],
dfn[title] {
    cursor: help;
}

del {
	color: $del;
	text-decoration: line-through;
	vertical-align: baseline;
}

pre {
	background: $pre_bg;
	border-bottom: 1px solid $pre_border;
	border-top: 1px solid $pre_border;
	color: $gray_darker;
	margin: 1.5em 0;
	padding: 20px;
}

code {
	color: $code;
}

ins { 
	text-decoration: underline;
}

mark { 
	background: #ff0;
	color: #990;
	@include font-size( 11 );
}

blockquote {
	border-left: 3px solid $gray_lighter;
	color: $gray_dark;
	font-style: italic;
	font-family: $georgia;
	margin: 1em 40px; 
	padding-left: 20px;

	cite {
		color: $black_lighter;
		display: block;
		padding: 10px 0 0 20px;
		position: relative;
		&:before {
			content: '\2014';
			left: 0;
			position: absolute;
		}
	}
}

q:before,
q:after,
blockquote:before, 
blockquote:after {
  content: "";
}

address {
	display: block;
	margin: 0 0 1.5em;
	font-style: italic;
}

ul, 
ol {
	margin: 1em 0;
	padding: 0 0 0 1.5em; 
}

ul {
	list-style: disc;
}

ol {
	list-style-type: decimal;
}

ol ol {
	list-style: upper-alpha;
}

ol ol ol {
	list-style: lower-roman;
}

ol ol ol ol {
	list-style: lower-alpha;
}

li ul, 
li ol {
	margin: 0;
}

dl {
	margin: 0 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 1.5em;
}

hr {
	border-top: 1px solid $border_color;
	border-bottom: 0;
	border-right: 0;
	border-left: 0;
	clear: both;
	height: 1px;
	margin: 1.5em 0;
	min-height: 0;
	
	&.dotted {
		border-style: dotted;
	}
	&.dashed {
		border-style: dashed;
	}
	&.darkborder {
		border-color: $black;
	}
	&.lightborder {
		border-color: $white;
	}
}