<div class="hentry">
<h1 class="page-title entry-title"><a href="#" title="">My Account</a></h1>
<div class="woocommerce">
<p class="myaccount_user">Hello, <strong>indaam</strong>. From your account dashboard you can view your recent orders, manage your shipping and billing addresses and <a href="#" title="">change your password</a>.</p>
<h2>Recent Orders</h2>
<table class="shop_table my_account_orders">
<thead>
<tr>
<th class="order-number"><span class="nobr">Order</span></th>
<th class="order-date"><span class="nobr">Date</span></th>
<th class="order-status"><span class="nobr">Status</span></th>
<th class="order-total"><span class="nobr">Total</span></th>
<th class="order-actions">&nbsp;</th>
</tr>
</thead>
<tbody><tr class="order">
<td class="order-number">
<a href="#" title="">#1596           </a>
</td>
<td class="order-date">
<time datetime="2013-11-28" title="1385631919">November 28, 2013</time>
</td>
<td class="order-status" style="text-align:left; white-space:nowrap;">On-hold         </td>
<td class="order-total">
<span class="amount">Rp417</span> for 19 items          </td>
<td class="order-actions">
<a class="button view" href="#" title="">View</a>          </td>
</tr><tr class="order">
<td class="order-number">
<a href="#" title="">#1584           </a>
</td>
<td class="order-date">
<time datetime="2013-11-25" title="1385394782">November 25, 2013</time>
</td>
<td class="order-status" style="text-align:left; white-space:nowrap;">On-hold         </td>
<td class="order-total">
<span class="amount">Rp186</span> for 10 items          </td>
<td class="order-actions">
<a class="button view" href="#" title="">View</a>          </td>
</tr><tr class="order">
<td class="order-number">
<a href="#" title="">#1516           </a>
</td>
<td class="order-date">
<time datetime="2013-10-03" title="1380832637">October 3, 2013</time>
</td>
<td class="order-status" style="text-align:left; white-space:nowrap;"> On-hold         </td>
<td class="order-total">
<span class="amount">Rp355</span> for 23 items          </td>
<td class="order-actions">
<a class="button view" href="#" title="">View</a>          </td>
</tr><tr class="order">
<td class="order-number">
<a href="#" title=""> #1502           </a>
</td>
<td class="order-date">
<time datetime="2013-10-03" title="1380791550">October 3, 2013</time>
</td>
<td class="order-status" style="text-align:left; white-space:nowrap;"> On-hold         </td>
<td class="order-total">
<span class="amount">Rp143</span> for 6 items         </td>
<td class="order-actions">
<a class="button view" href="#" title="">View</a>          </td>
</tr></tbody>
</table>
<h2>My Addresses</h2>
<p class="myaccount_address">The following addresses will be used on the checkout page by default.</p>
<div class="col2-set addresses">
<div class="col-1 address">
<header class="title">
<h3>Billing Address</h3>
<a class="edit" href="#" title="">Edit</a>
</header>
<address>indam why<br>ICL<br>Jalan Piit No 1<br>Apartement(Optional)<br>Bandung<br>Jawa Barat<br>40133   </address></div>
<div class="col-2 address">
<header class="title">
<h3>Shipping Address</h3>
<a class="edit" href="#" title="">Edit</a>
</header>
<address>indam why<br>ICL<br>Jalan Piit No 1<br>Apartement(Optional)<br>Bandung<br>Jawa Barat<br>40133   </address>
</div>
</div>
</div>
</div>