<div class="hentry">
<h1 class="page-title entry-title"><a href="http://192.168.1.87/indaam/wp/checkout/order-received/">Order Received</a></h1>
<div class="woocommerce">
<p>Thank you. Your order has been received.</p>
<ul class="order_details">
<li class="order"> Order:              <strong>#1596</strong>
</li>
<li class="date"> Date:               <strong>November 28, 2013</strong>
</li>
<li class="total"> Total:              <strong><span class="amount">Rp417</span></strong>
</li>
<li class="method"> Payment method:             <strong>Direct Bank Transfer</strong>
</li>
</ul>
<div class="clear"></div>
<p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order wont be shipped until the funds have cleared inour account.</p>
<h2>Our Details</h2><ul class="order_details bacs_details"></ul>    <h2>Order Details</h2>
<table class="shop_table order_details">
<thead>
<tr>
<th class="product-name">Product</th>
<th class="product-total">Total</th>
</tr>
</thead>
<tfoot>
<tr>
<th scope="row">Cart Subtotal:</th>
<td><span class="amount">Rp417</span></td>
</tr>
<tr>
<th scope="row">Shipping:</th>
<td>Free Shipping</td>
</tr>
<tr>
<th scope="row">Order Total:</th>
<td><span class="amount">Rp417</span></td>
</tr>
</tfoot>
<tbody>
<tr class="order_table_item">
<td class="product-name"><a href="http://192.168.1.87/indaam/wp/shop/flying-ninja/">Flying Ninja</a> <strong class="product-quantity">Ã&mdash; 1</strong><dl class="variation"></dl></td><td class="product-total"><span class="amount">Rp12</span></td></tr>
<tr class="order_table_item">
<td class="product-name"><a href="http://192.168.1.87/indaam/wp/shop/happy-ninja/">Happy Ninja</a> <strong class="product-quantity">Ã&mdash; 1</strong><dl class="variation"></dl></td><td class="product-total"><span class="amount">Rp18</span></td></tr>
<tr class="order_table_item">
<td class="product-name"><a href="http://192.168.1.87/indaam/wp/shop/happy-ninja-2/">Happy Ninja</a> <strong class="product-quantity">Ã&mdash; 1</strong><dl class="variation"></dl></td><td class="product-total"><span class="amount">Rp35</span></td></tr>
<tr class="order_table_item">
<td class="product-name"><a href="http://192.168.1.87/indaam/wp/shop/ninja-silhouette/">Ninja Silhouette</a> <strong class="product-quantity">Ã&mdash; 1</strong><dl class="variation"></dl></td><td class="product-total"><span class="amount">Rp20</span></td></tr>
<tr class="order_table_item">
<td class="product-name"><a href="http://192.168.1.87/indaam/wp/shop/ninja-silhouette-2/">Ninja Silhouette</a> <strong class="product-quantity">Ã&mdash; 1</strong><dl class="variation"></dl></td><td class="product-total"><span class="amount">Rp35</span></td></tr>
<tr class="order_table_item">
<td class="product-name"><a href="http://192.168.1.87/indaam/wp/shop/patient-ninja/">Patient Ninja</a> <strong class="product-quantity">Ã&mdash; 1</strong><dl class="variation"></dl></td><td class="product-total"><span class="amount">Rp35</span></td></tr>
<tr class="order_table_item">
<td class="product-name"><a href="http://192.168.1.87/indaam/wp/shop/premium-quality/">Premium Quality</a> <strong class="product-quantity">Ã&mdash; 1</strong><dl class="variation"></dl></td><td class="product-total"><span class="amount">Rp20</span></td></tr>
<tr class="order_table_item">
<td class="product-name"><a href="http://192.168.1.87/indaam/wp/shop/premium-quality-2/">Premium Quality</a> <strong class="product-quantity">Ã&mdash; 1</strong><dl class="variation"></dl></td><td class="product-total"><span class="amount">Rp12</span></td></tr>
<tr class="order_table_item">
<td class="product-name"><a href="http://192.168.1.87/indaam/wp/shop/ship-your-idea/">Ship Your Idea</a> <strong class="product-quantity">Ã&mdash; 10</strong><dl class="variation"><dt>Color:</dt><dd>Black</dd><dt>tinggi:</dt><dd>1km, 2km, 3km</dd></dl></td><td class="product-total"><span class="amount">Rp200</span></td></tr>
<tr class="order_table_item">
<td class="product-name"><a href="http://192.168.1.87/indaam/wp/shop/ship-your-idea-2/">Ship Your Idea</a> <strong class="product-quantity">Ã&mdash; 1</strong><dl class="variation"><dt>Color:</dt><dd>Blue</dd></dl></td><td class="product-total"><span class="amount">Rp30</span></td></tr>    </tbody>
</table>
<header>
<h2>Customer details</h2>
</header>
<dl class="customer_details">
<dt>Email:</dt><dd>indaam@gmail.com</dd><dt>Telephone:</dt><dd>08525555555</dd></dl>
<div class="col2-set addresses">
<div class="col-1">
<header class="title">
<h3>Billing Address</h3>
</header>
<address><p>indam why<br>ICL<br>Jalan Piit No 1<br>Apartement(Optional)<br>Bandung<br>Jawa Barat<br>40133</p></address>
</div><!-- /.col-1 -->
<div class="col-2">
<header class="title">
<h3>Shipping Address</h3>
</header>
<address><p> indam why<br>ICL<br>Jalan Piit No 1<br>Apartement(Optional)<br>Bandung<br>Jawa Barat<br>40133</p></address>
</div><!-- /.col-2 -->
</div><!-- /.col2-set -->


<div class="clear"></div>

</div>

</div>