include ../asset/mixin
.feature-testimonial.cl
  .container
    .inner-container
      h2.title.title-use-ico What Our Customer Said
      ul.testimonial-content
        li.testimonial-list
          blockquote.testimonial
            p “Summer purslane dandelion squash catsear green bean peanut swiss chard. Kombu fennel soybean kohlrabi summer purslane horseradish burdock turnip quandong seakale lotus root. Parsnip squash tomato caulie rock melon leek garlic epazote sierra leone bologi.”
          span.testimonial-data
            span.author-name Pratama H. Salahudin
            span.author-des Web Designer, Tokokoo
// End feature-testimonial.cl
