-for (var x = 0; x < 9; x++)
  li.portfolio.the-items
    figure.item-img
      a(href="#")
        img(src="dummy/portfolio.jpg", alt="")
    .item-action
      a.button.view-item(href='#') View detail

    .item-bottom

      h3.title-portfolio
        a(href="#", title="title of product") title of portfolio

      a.item-cat(href="#", title="title of portfolio") typography

