-for (var x = 0; x < 9; x++)
  li.product.the-items
    span.onsale Sale!
    figure.item-img
      a(href="#")
        img(src="dummy/product.jpg", alt="")
    .item-action
      a.button.view-item(href='#') View detail
      a.add_to_cart_button.button.product_type_simple(href='#') Add to cart

    .item-bottom

      h3.title-product
        a(href="#", title="title of product") Woo Single #2

      .star-rating(title='Rated 4.50 out of 5')
        span(style='width: 90%;')
            strong.rating 4.50
            | out of 5

      span.price
        span.form from
        del
          span.amount £3
        ins
          span.amount £2

      a.item-review(href="#") 12 review

