include ../asset/mixin
.widget-bottom.cl
  .container
    .inner-container
      .widget-area.widget-area-left
        include widget-mini

      .widget-area.widget-area-center
        include widget-mini

      .widget-area.widget-area-right
        include widget-mini
// End .widget-bottom.cl
