// Request file ini(freestyle)
// Untuk mixin bikinan sendiri, atau mixin yang belum menjadi standar silakan ditaruh disini;
// File ini tidak langsung di import ke style.scss; Jadi,diimport jika sedang diperlukan;
// Dan dibawah adalah beberapa mixin yang saya anggap keren

@mixin reset-input {
	@include border-radius(0);
	border-width: 0;
	outline-width: 0;
	padding: 0;
	margin: 0;
	background-color: transparent;
	color: inherit;
	display: inline;
	height: auto;
	display: inline-block; 
}

@mixin font(
	$f-size,
	$l-height: false,
	$f-weight: false
){
	@if $l-height == false{
		font-size: $f-size;
		line-height: $f-size * 1.5;
	} @else{
		font-size: $f-size;
		line-height: $l-height;
	}

	@if $f-weight == book {
		font-weight: 300;
	}
	@if $f-weight == normal {
		font-weight: 400;
	}
	@if $f-weight == semibold {
		font-weight: 600;
	}
	@if $f-weight == bold {
		font-weight: 700;
	}
	@if $f-weight == extraBold {
		font-weight: 800;
	}
}

@mixin fw($weight) {
	@if $weight == book {
		font-weight: 300;
	}
	@else if $weight == normal {
		font-weight: 400;
	}
	@else if $weight == semibold {
		font-weight: 600;
	}
	@else if $weight == bold {
		font-weight: 700;
	}
	@else if $weight == extraBold {
		font-weight: 800;
	}
}

// sprites social media Icon
@mixin socialbg($total){
	background-position: -40px * $total 0 ;
	&:hover{
		background-position: -40px * $total -36px ;
	}
}

// sprites Post Format
@mixin postFormatlbg($total){
	background-position: -30px * $total 0;
}

// sprites Post Format Hover
@mixin postFormatlbghover($total){
	background-position: -30px * $total -30px ;
}

@mixin before-try(){
 	content: "";
 	position: absolute;
}

@mixin persegi($persegi){
	width: $persegi;
	height: $persegi;
}

@mixin persegi-p($width, $height){
	width: $width;
	height: $height;
}

@mixin triangel-top(
	$color,
	$width: false,
	$width-tri:false){
	@include persegi(0);
	content: "";
	position: absolute;
	border: $width solid transparent;
	top: -1 * ($width + $width-tri);
	border-bottom-color: $color;
	border-bottom-width: $width-tri;
}

@mixin triangel(
	$position, // Use top | right | bottom | left
	$color,
	$width: false,
	$width-tri:false
	){

	position: relative;
	&:before{
		@include persegi(0);
		content: "";
		position: absolute;

		@if $position == top{
			border: $width solid transparent;
			#{$position}: -1 * ($width + $width-tri);
			border-bottom-color: $color;
			border-bottom-width: $width-tri;
		}
		@if $position == right{
			border: $width solid transparent;
			#{$position}: -1 * ($width + $width-tri);
			border-left-color: $color;
			border-left-width: $width-tri;
		}
		@if $position == bottom{
			border: $width solid transparent;
			#{$position}: -1 * ($width + $width-tri);
			border-top-color: $color;
			border-top-width: $width-tri;
		}
		@if $position == left{
			border: $width solid transparent;
			#{$position}: -1 * ($width + $width-tri);
			border-right-color: $color;
			border-right-width: $width-tri;
		}
	}
	/*
	// Params Settings
	// position: use top | right | bottom | left
	// color: Yes, just color
	// width: set the with, use px
	// width-tri: set the with for triangle, use px

	// Sample Usage

	// .test-top{
	// 	width: 120px;
	// 	background-color: pink;
	// 	padding: 6px;
	// 	@include triangel(top, pink, 8px, 8px);
	// 	&:before{
	// 		right: 12px;
	// 	}
	// }
	// .test-bottom{
	// 	width: 120px;
	// 	background-color: pink;
	// 	padding: 6px;
	// 	@include triangel(bottom, pink, 8px, 12px);
	// 	&:before{
	// 		left: 8px;
	// 	}
	*/
}

@mixin triangel-right(
	$color,
	$width: false,
	$width-tri:false){
	@include persegi(0);
	content: "";
	position: absolute;
	border: $width solid transparent;
	right: -1 * ($width + $width-tri);
	border-left-color: $color;
	border-left-width: $width-tri;
}

@mixin triangel-bottom(
	$color,
	$width: false,
	$width-tri:false){
	@include persegi(0);
	content: "";
	position: absolute;
	border: $width solid transparent;
	bottom: -1 * ($width + $width-tri);
	border-top-color: $color;
	border-top-width: $width-tri;
}

@mixin triangel-left(
	$color,
	$width: false,
	$width-tri:false){
	@include persegi(0);
	content: "";
	position: absolute;
	border: $width solid transparent;
	left: -1 * ($width + $width-tri);
	border-right-color: $color;
	border-right-width: $width-tri;
}

@mixin absolute-center($width){
	width: $width;
	position: absolute;
	left: 50%;
	margin-left: -1 * ($width/2); 
}

