// Global Palettes
// ------------------
$black: 		#000 !default;
$black_light: 	#222 !default;
$black_lighter: #555 !default;
$gray_darker: 	#999 !default;
$gray_dark: 	#aaa !default;
$gray: 			#ccc !default;
$gray_light: 	#ddd !default;
$gray_lighter: 	#eee !default;
$white: 		#fff !default;
$white_dark: 	#f5f5f5 !default;
$white_darker: 	#f0f0f0 !default;

// Accent Palettes
// -------------------------
$blue: 			#049cdb !default;
$blue_dark: 	#0064cd !default;
$green: 		#46a546 !default;
$red: 			#9d261d !default;
$yellow: 		#ffc40d !default;
$orange: 		#f89406 !default;
$pink: 			#c3325f !default;
$purple: 		#7a43b6 !default;