// Baseline
// ------------------
$base-font-size: 	16px;
$base-line-height: 	24px;

// Theme Palettes
// Variabel yg akan digunakan berulang kali pada theme
// -------------------------
$bg_color: 			$white !default;
$border_color: 		$gray_light !default;
$font_color: 		$black_light !default;
// $accent_1: 			$black !default;
// $accent_2: 			$black !default;

// Link Palettes
// -------------------------
$link: 				$blue !default;
$link_hover: 		darken( $link, 10% ) !default;
$link_visited: 		darken( $link, 5% ) !default;

// Typography Palettes
// -------------------------
$del: 				$gray_dark;
$code: 				#2080ad;
$pre_bg: 			$gray_lighter;
$pre_color: 		$gray_darker;
$pre_border: 		$gray_light;

// Selection Palettes
// -------------------------
$color_1: 			$black;
$color_2: 			$white;

// Button Palettes
// -------------------------
$btn_bg: 			$white;
$btn_color: 		$white_dark;

// Font Setting
$ff-text: 			$georgia;
$ff-heading: 		$arial;
$ff-decorative: 	$arial;

// selection setting
$selectionbg: 		$black;
$selectioncolor: 	$white;